.notificationMenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 320px;
  max-height: 400px;
  background: #f1ede6;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(58, 45, 40, 0.788);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #ebe3db;
  margin-top: 10px;
}

.notifHeader {
  padding: 12px 16px;
  border-bottom: 1px solid #ebe3db;
  font-weight: 600;
  font-size: 16px;
  color: #3a2d28;
}

.notifList {
  overflow-y: auto;
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: #d1c7bd #f1ede6;
}

.notifList::-webkit-scrollbar {
  width: 6px;
}
.notifList::-webkit-scrollbar-track {
  background: transparent;
}
.notifList::-webkit-scrollbar-thumb {
  background-color: #ebe3db;
  border-radius: 10px;
}

.notifItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  text-decoration: none;
  color: #3a2d28;
  border-bottom: 1px solid #ebe3db;
  transition: background 0.2s;
}

.notifItem:hover {
  background-color: #ebe3db;
}

.notifItem.unread {
  background-color: #ebe3db;
}

.notifAvatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ebe3db;
}

.notifContent {
  flex: 1;
  font-size: 14px;
  line-height: 1.4;
}

.notifTime {
  font-size: 12px;
  color: #a48374;
  display: block;
  margin-top: 4px;
}

.notifPinPreview img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.noNotif {
  padding: 20px;
  text-align: center;
  color: #a48390;
}

/* notificationMenu.css */
.winnerNotif {
  background-color: #f0fdf4; /* Verde foarte pal */
  border-left: 3px solid #22c55e;
}