.leftBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 72px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 16px 0px;
  background-color: white;
  border-right: 1px solid #f8bbd0; 
  z-index: 9999;
}

.menuIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.menuIcon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px; 
  transition: background-color 0.2s;
}

.menuIcon:hover {
  background-color: #cfeeff; 
}

.menuIcon img {
    width: 24px !important;  /* Forțează lățimea */
    height: 24px !important; /* Forțează înălțimea */
    object-fit: contain;     /* Asigură-te că nu se turtește */
    display: block;          /* Elimină spațiile nedorite */
}

.logo {
  width: 25px;
  height: 25px;
}

.notificationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badgeSidebar {
  position: absolute;
  top: 5px;   
  right: 5px; 
  background-color: #670626; 
  color: #fff8f0; 
  font-size: 10px;
  font-weight: bold;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff8f0; 
  z-index: 10;
}

.sidebarMenuContainer {
  position: absolute;
  top: 0;
  left: 70px; 
  z-index: 1000;
  width: 320px;
}

.sidebarMenuContainer::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -8px;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right: 8px solid #fff8f0;
}