.collections {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}

.collection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.collectionImageContainer {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
  background-color: #efefef;
}

.collectionImagePlaceholder {
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

.collectionImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collectionInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.collectionInfo h1 {
  font-weight: 600;
  font-size: 16px;
  color: #111;
}

.collectionInfo span {
  color: #555;
  font-size: 13px;
}

@media (max-width: 1746px) {
  .collections {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1509px) {
  .collections {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1272px) {
  .collections {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1035px) {
  .collections {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 798px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .collections {
    grid-template-columns: repeat(1, 1fr);
  }
}